@import "tailwindcss";
@import "@repo/ui/globals.css";

:root {
  --header-height: 5rem;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
